*{
    margin: 0;
    padding: 0;
 box-sizing: border-box;
 font-family: 'Gilroy',sans-serif;
}
head,body{
    height: 100%;
    width: 100%;
    
}
#main{
    height: 100%;
    width: 100%;
    background-color: white;
}
#nav{
    height: 100px;
    width: 100%;
  
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0px 40px;
}
#nav1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
}
#nav h3{
    font-size: 16px;
    border: 2px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav i{
    font-size: 16px;
    border: 2px solid #000;
    font-weight: 500;
    padding: 5px 10px;
    border-radius: 50px;
}
#nav h1{
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;

}
#nav button{
    padding: 7px 12px;
    border-radius: 50px;
    border: 2px solid #000;
    font-size: 17px;
}
#btn2{
    color: white;
    background-color: orangered;
}
#main>h1{
    font-weight: 102;
    font-size: 120px;
    text-transform: uppercase;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 100%;
    text-align: center;
}
img{
    height: 500px;
    width: 400px;
    object-fit: cover;
    object-position: top;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 20px;
    transform: translate(-50%,-50%);
}
#img1{
    transform: translate(-50%,-50%) rotate(-30deg);
   
}
#img2{
    transform: translate(-50%,-50%) rotate(-20deg);
   
}
#img3{
    transform: translate(-50%,-50%) rotate(-10deg);
   
}
#btm-left{
    position: absolute;
    font-size: 17px;
    top: 100%;
    left: 50%;

}